{% extends 'base.html' %}
{% load static %}
{% block home %}class="active"{% endblock %}
{% block body_block %}
<h2> Welcome to Thompson Island's Sensor Data Exploration Site!</h2>
<div class="jumbotron">
<p>
    <img src="{% static "island.jpg" %}" class="img-rounded" width=40% align="top"><img>

<a href="http//thompsonisland.org">Thompson Island Outward Bound Education Center </a>and its partners at the <a href="http://www.nps.gov/boha/historyculture/facts-thom.htm">National Park Service</a>, <a href="http://www.cesn.org/thompson.php">UMass Boston</a>, <a href="http://thompson.nortek.no/">Nortek</a> and Wildlife Acoustics have each installed environmental sensors on Thompson Island. Data from weather stations and buoys, hydrologic sensors, audio recording devices, video cameras, more is all being broadcasted remotely by cellular, wireless and satellite technology. Each instrument has its own mechanism for data access and many provide different data types, making it extremely difficult for staff, teachers and students in Thompson Island programs to easily access all the data or to compare information from different data sources. <a href="/explorer/sensors">More information on the sensors.</a>
<p>
This website, however, has been created by a team of MIT alumni in order to bring all of the data together in one place and make it exciting and fun for students to explore. <a href="/explorer/about"> Learn more about this project.</a>
<p>

Please explore this site with <a href="/explorer/graphs">graphs</a> of the data you choose.  Be sure to try zooming the graphs with your mouse or touch interface.

{% endblock %}
