<!DOCTYPE html>

{% load static %}

<html>
  <head>
    <meta charset="utf-8"></meta>
    <title>About Explorer</title>
    <link rel="stylesheet" type="text/css" media="screen" href="{%static "common.css" %}" />
    <!--
    <script src="{% static "js/jquery.js" %}"></script>
    -->
  </head>
  <body>
    <div id="container">
      Written for Tango with Django chapter 4.<br />
      <img src="{% static "well_washed_braid.jpg" %}" alt="Picture of Binche lace, circa 1700" />
    <div id="footer">
      <p />Copyright 2014 &copy; Girls &amp; Buoys
    </div>
    </div>
  </body>
</html>
