{% extends 'base.html' %}

{% load static %}

{% block about %}class="active"{% endblock %}
{% block body_block %}
<div class="jumbotron">
  <img src="{% static "students.jpg" %}" class="img-rounded" width=40% align="top"><img>
  <p><a href="http//thompsonisland.org">Thompson Island Outward Bound Education Center</a> is a non-profit organization Thompson Island is a non-profit organization that has been providing educational resources to Boston’s urban youth for almost 200 years. Just a short boat ride from the heart of Boston, Thompson Island is one of the largest and most accessible islands in the Boston Harbor Islands National Park area.
<p>
With 204 acres of undeveloped land, the island has beaches, marshes, meadows and forests that are being preserved, studied and used as an outdoor classroom by the students of Boston. Using the environment as the stage and set, Thompson Island ignites a love of learning, inspires curiosity and demands teamwork. Thompson Island Outward Bound Education Center serves thousands of young people each year guided by our mission to change lives through challenge and discovery.
</p>
<p>
Thompson Island Outward Bound Education Center and its partners at the <a href="http://www.nps.gov/boha/historyculture/facts-thom.htm">National Park Service</a>, <a href="http://www.cesn.org/thompson.php">UMass Boston</a>, <a href="http://thompson.nortek.no/">Nortek</a> and Wildlife Acoustics have each installed environmental sensors on Thompson Island. Data from weather stations and buoys, hydrologic sensors, audio recording devices, video cameras, and more is all being broadcasted remotely by cellular, wireless and satellite technology. 
</p>
<p>
This website has been created by a team of MIT alumni to bring all of the data together in one place and make it exciting and fun for students to explore. This site is intended to bridge science and technology in order to extend Thompson Island Outward Bound field science learning expeditions back into Boston Public Schools (BPS) classrooms. Educators realized that seamless access to data collected on Thompson Island will infuse more math and greater scientific rigor into the curriculum. The data will both inspire and answer questions, and deepen thinking about the island and the environment.
<p>
The primary users for this site are middle school (5th to 8th grade) students and their educators (BPS teachers, Thompson Island Outward Bound instructors, NPS rangers). Additional users include Thompson Island staff, UMass Boston and national park researchers. Visitors to Thompson Island, Boston area residents, and science buffs in general will also find the data fascinating and useful.
<p>
<b>About the developers</b>
<p>
The developers, <a href="www.linkedin.com/in/carolinemeeks/">Caroline Meeks</a>, <a href="http://www.linkedin.com/profile/view?id=404920">Linda Kukolich</a> and <a href="http://www.linkedin.com/profile/view?id=3841525">Liz Brooks</a>, would like to thank the student-staff of MIT's <a href="http://6.470.scripts.mit.edu/2014/">Web Programming Competition</a> for their generous support as we explored the worlds of Django, Python, Jquery, Highcharts and more!  We want to thank the staff of Thompson Island and its partners for their responsivness as we worked with in the competition's 3 week time frame.  

<p>We are releasing the <a href="https://github.com/lindakukolich/sensor_data_exploration">code</a> under an open source liscence in hopes that other volunteers can help other environmental centers create data exploration sites.

</div>
{% endblock %}
