<!DOCTYPE html>

{% load static %}

<html>
  <head>
    <meta charset="utf-8"></meta>
    <title>Sensor Data Exploration Root</title>
    <link rel="stylesheet" type="text/css" media="screen" href="{%static "common.css" %}" />

    <script type="text/javascript"> 
      var jsonydata = "{{jsonydata|safe}}"
    </script>    

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script>
    <script src="{%static "sensordata-highcharts.js" %}"></script>


  </head>
  <body>
    <nav>
      <ul>
	<li class="logo">Girls&Buoys</li>
	<li><a href="#">Map</a></li>
	<li><a href="#">Graphs</B></li>
	<li><a href="#">Data</a></li>
	<li><a href="#">Prediction</a></li>
      </ul>
    </nav>
    <div id="page">
      <h1> Sensor Data Exploration Says</h1>

      <div id="data">
	There is XData - It is: <br />
	{{ xdata }}<br />
	Ydata is: <br />
	{{ ydata }}
	<p />In JSON format, this looks like: <br />
	{{ jsonydata }}<br />
<br>
<h2>And now for a random chart that has nothing to do with this data!!</h2>
<br>
      </div>
      <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

    </div>
    <div id="newchart">
      Did you love that chart?  Want to see it twice? Click Here!
    </div>
    <div id="footer">
      <div id="footer">Copyright 2014 &copy; Girls &amp; Buoys</div>
    </div>
  </body>
</html>
