<!DOCTYPE html>

{% load static %}

<html>
  <head>
    <meta charset="utf-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sensor Data Exploration Root</title>
    <link rel="stylesheet" type="text/css" media="screen" href="{%static "common.css" %}" />

    <script type="text/javascript"> 
      var goodPlotData = "{{ goodPlotData|safe }}"
      var jsonxdata = "{{ jsonxdata|safe }}"
      var jsonydata = "{{ jsonydata|safe }}"
      var plot_title= "{{ plot_title|safe }}"
      var plot_subtitle = "{{plot_subtitle|safe}}"
      var plot_yaxis_label = "{{ plot_yaxis_label|safe }}"
      var plot_point_label = "{{ point_label|safe }}"
    </script>    

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
    
    <!-- Latest compiled and minified JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>

    <!-- javascript for generating plots -->
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script>
    <script src="{%static "sensordata-highcharts.js" %}"></script>
    <script src="{%static "onclick.js" %}"></script>


  </head>
  <body>
    <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Thomspon Island Sensor Data</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
	    <li><a href="#">Map</a></li>
	    <!-- Make it so the link doesn't work here -->
	    <li><a href="#">Graphs</a></li>
	    <li><a href="#">Data</a></li>
	    <li><a href="#">Prediction</a></li>            
	    <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
	  </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    <div class="container">
      <div class="jumbotron">
	<h1> Data from Thomspon Island</h1>
	</div>
      <div id="ourdata">
      </div>
      <div id="charts">
	<---- Charts are added here with javascript -->
      </div>

    <div id="ajax-graph">

      {% if sensor_list %}
         {% for sensor in sensor_list %}
           <button data-sensorid="{{sensor}}" type="button" class="btn btn-default">{{sensor}}</button>
	 {% endfor %}
      {% endif %}
    </div>

      <div id="footer">
	<div id="footer">Copyright 2014 &copy; Girls &amp; Buoys</div>
      </div>
    </div>
  </body>
</html>
